#layout-header nav{
    display: flex;
    justify-content: space-between;
    padding:  0 10px;
    margin-bottom: 10px;
    background-color: rgb(252, 249, 34);
    color: white;
    box-shadow: 1px 1px 1px 1px rgb(40, 38, 38);
}

/*for Codeial link*/

#layout-header nav .mini-logo p{
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    font-weight: bold;
}

/* Nav Authlinks ul*/

#layout-header nav .auth-links ul{
    margin: 5% 5px;
    display: flex;
    list-style: none;
}

#layout-header nav .auth-links ul li{
    margin-right: 10px;
}
/*To remove text decoration of all a tags*/
#layout-header nav a{
    color: #271dde;
    text-decoration: none;
}